html, body {
  overscroll-behavior: none !important;
  overscroll-behavior-y: none !important;
}
body:not(:has(#view-home.active)) #main-header,
body:not(:has(#view-home.active)) #header-logo {
  touch-action: pan-x;
  overscroll-behavior: none !important;
}
#views .view.active {
  overscroll-behavior-y: none !important;
  -webkit-overflow-scrolling: touch;
}
